*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chargement{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url(/projet-CV/asset/fonds/fonds\ pc.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    color: whitesmoke;
    inset: 0;
    animation: entrer 2s ease-out forwards;


}

.contenue{
    margin-top: 5rem;
    height: 80vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.contenue h2{
    position: absolute;
    word-spacing: 0.8rem;
    opacity: 0;
    animation: txtentrer 1s ease-out forwards;
    animation-delay: 1.2s;
}

#p1{
    animation: bouge1 2s infinite ease-in-out;
    transition: 0.4s;
}
#p2{
    animation: bouge2 2s infinite ease-in-out;
    transition: 0.4s;
}
#p3{
    animation: bouge3 2s infinite ease-in-out;
    transition: 0.4s;
}
#p4{
    animation: bouge4 2s infinite ease-in-out;
    transition: 0.4s;
}

.btncgargement{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 12rem;
}

.l1{
    width: 1vw;
    height: 2vh;
    background: whitesmoke;
    border-radius: 12px;
   animation: txtentrer 1s ease-out forwards;
}